//text

$primary-color: #379cdc;
$text-dark: #2f362f;
$text-grey: #7c8595;
$text-white: #fff;
$text-black-grey-title: #ddd;
$text-black-grey-sub: #bbb;

//bg

$bg-white:#fff;

//border

$border-white:#fff;


